[Unit]
Description=PNPM Start Service for chaindesk
After=network.target chaindesk-load-data.service

[Service]
User=root
WorkingDirectory=/root/your_directory
ExecStart=/root/.local/share/pnpm/pnpm worker:datasource-loader start
Restart=always

[Install]
WantedBy=multi-user.target
