[Unit]
Description=PNPM Datasource Loader for Chaindesk
After=network.target

[Service]
# Replace your_username with your username
User=root
# Replace /path/to/your/project with your working directory
WorkingDirectory=/path/to/your/project
ExecStart=/root/.local/share/pnpm/pnpm worker:datasource-loader
Restart=always

[Install]
WantedBy=multi-user.target
