[Unit]
Description=PNPM Datasource Loader for Chaindesk
After=network.target

[Service]
# Replace your_username with your username
User=root
# Replace /your/directory with your working directory
WorkingDirectory=/your/directory
ExecStart=/root/.local/share/pnpm/pnpm worker:datasource-loader
Restart=always

[Install]
WantedBy=multi-user.target
